@import url('../css/layout.css');
@import url('../css/module.css');

* {
    box-sizing: border-box;
}


body {
    min-height:100vh ;
    /* width:960px;  */
    text-align: center;
    font-family: 'Courgette', cursive;
}

img {
    width:70%;
}
.template-1, .template {
    float:left;
    width:750px;
    height: 750px;
    overflow: auto;
    margin: 50px 10px;
    border: 1px solid black;

}

footer {
    margin: 15px;
    text-align: center;
    clear:both;
    width: 100%;
    position: static;
}
